/* xs */
.xs .title {
    font: var(--font-s);
}

.xs .text {
    font: var(--font-xs);
}

/* s */
.s .title {
    font: var(--font-m);
}

.s .text {
    font: var(--font-s);
}

/* m */
.m .title {
    font: var(--font-l);
}

.m .text {
    font: var(--font-m);
}

/* l */
.l .title {
    font: var(--font-xl);
}

.l .text {
    font: var(--font-l);
}

/* xl */
.xl .title {
    font: var(--font-xxl);
}

.xl .text {
    font: var(--font-xl);
}
/* Bold */
.bold .text {
    font-weight: 700;
}

.bold .title {
    font-weight: 700;
}


/* Text colors */
.primary .text {
    color: var(--primary-text);
}
.secondary .text {
    color: var(--secondary-text);
}
.accent .text {
    color: var(--accent);
}
.error .text {
    color: var(--cancel);
}
.cancel .text {
    color: var(--error);
}
.save .text {
    color: var(--save);
}
.notaccented .text {
    color: var(--not-accented);
}

/* Title colors*/
.primary .title {
    color: var(--primary-text);
}
.secondary .title {
    color: var(--secondary-text);
}
.accent .title {
    color: var(--accent);
}
.error .title {
    color: var(--cancel);
}
.cancel .title {
    color: var(--error);
}
.save .title {
    color: var(--save);
}
.notaccented .title {
    color: var(--not-accented);
}
