.vacancyFilterSidebar {
    width: 280px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.vacancyFilterTitle {
    margin-bottom: 13px;
}

.citiesList {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.citiesInput {
    margin-bottom: 15px;
}

.vacancyFilterTitle {
    margin-bottom: 13px;
}

.paymentBlock {
    display: flex;
    align-items: center;
}