.mainResumeList {
    margin: 0;
    padding: 0;
}

.titleResumeList {
    margin: 40px 0px 30px 0px;
}

.resumeListPage {
    display: flex;
}

.resumeList {
    width: 800px;
    height: 213px;
    margin: 50px 0px 30px 0px;
    padding: 10px 10px 10px 10px;

    background: var(--main-bg);
    box-shadow: var(--shadow-main);
}

.resumeList:hover {
    box-shadow: var(--shadow-hover);
}

.userResume {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.buttonResumeProfession {
    display: flex;
    justify-content: start;
}

.salaryResume {
    margin-top: 20px;
}

.userPhoto {
    width: 87px;
    height: 87px;
    color: var(--accent);
    background-color: var(--main-bg);
    border: 1px solid var(--accent);
    border-radius: var(--border-radius-s);
    padding-top: 30px;
    text-align: center;
}
/* .imgUserPhoto{
    width: 87px;
    height: 87px;
    color: var(--accent);
    background-color: var( --main-bg);
    border: 2px solid var(--accent);
    border-radius: var(--border-radius-s);
} */

.checkboxResumeEl {
    width: 24px;
    height: 24px;
    margin-top: 10px;
}

.textTitle {
    margin: 10px 0px 10px 0px;
}

.vacancyWishes {
    margin-bottom: 40px;
}
