.mainResumeList{
    margin: 0;
    padding: 0;
    width: 886px;
}

.titleResumeList{
    margin: 40px 0px 30px 0px;
}

.resumeList{
    margin: 50px 0px 30px 0px;
    padding: 10px 10px 10px 10px;

    background: var( --light-bg);
    box-shadow: var(--shadow-dark);
}

.resumeList:hover{
    box-shadow: var(--shadow--hover);
}

.userResume{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.titleResume{
    color: var(--accent);
    border-bottom: 1px solid var(--accent);
}

.salaryResume{
    margin-top: 20px;
}
.skillUser{
    border-bottom: 1px solid var(--primary-text);
}

.lastSkill{ 
    display: flex;
}

.userPhoto{
    width: 87px;
    height: 87px;
    color: var(--accent);
    background-color: var( --light-bg);
    border: 1px solid var(--accent);
    border-radius: var(--border-radius-s);
    padding-top: 30px;
    text-align: center;
}
/* .imgUserPhoto{
    width: 87px;
    height: 87px;
    color: var(--accent);
    background-color: var( --light-bg);
    border: 2px solid var(--accent);
    border-radius: var(--border-radius-s);
} */

.linkViewResume{
    display: flex;
    justify-content: flex-start;
}

.linkResumeList{
    margin-left: 10px;
    padding-top: 18px;
}