/* .appLink {
    transition: var(--transition-delay) linear;
} */

/* Text sizws */
.xs {
    font: var(--font-xs);
}

.s {
    font: var(--font-s);
}

.m {
    font: var(--font-m);
}

.l {
    font: var(--font-l);
}

.xl {
    font: var(--font-xl);
}
.bold {
    font-weight: 700;
}
.primary {
    color: var(--primary-text);
    transition: var(--transition-delay) linear;
}
.secondary {
    color: var(--secondary-text);
    transition: var(--transition-delay) linear;
}
.accent {
    color: var(--accent);
    transition: var(--transition-delay) linear;
}
.primary:hover {
    color: var(--secondary-text);
    transition: var(--transition-delay) linear;
}
.secondary:hover {
    color: var(--secondary-text);
    transition: var(--transition-delay) linear;
}
.accent:hover {
    color: var(--secondary-text);
    transition: var(--transition-delay) linear;
}
