.checkboxField {
    display: flex;
    margin-bottom: 10px;
}

.checkboxWrapper {
    display: flex;
    align-items: center;
}

.checkboxWrapper input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 8px;
    border: 1px solid var(--checkbox-color);
    outline: none;
    cursor: pointer;
}

input[type="checkbox"]:focus,
input[type="checkbox"]:focus:checked {
    box-shadow: 0 0 0 1px var(--accent);
    border: none;
}

input[type="checkbox"]:checked.checked {
    background-color: var(--accent);
    position: relative;
    border: none;
}
