.vacancyPage {
}
.cards {
    margin-top: 100px;
}
.list {
    margin-top: 40px;
}
.adress {
    margin-top: 60px;
}
.date {
    margin-top: 40px;
}
.btn {
    margin-top: 40px;
}
.reviews {
    margin-top: 100px;
}
