.paymentContainer {
    display: flex;
    width: 760px;
    align-items: center;
}
.payment {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
.item {
    margin-top: 16px;
}