.vacancyWrapper {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.vacancyList {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-grow: 1;
    margin-bottom: 30px;

}

.vacancyListCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 20px;
}

.vacancyListCardBtn {
    margin-top: auto;
}

.vacancyFilterTitle {
    margin-bottom: 13px;
}



.page {
    min-height: calc(100vh - var(--header-height));
}

.vacancyFilterSidebar {
    position: sticky;
    top: 0;
    left: 0;
    height: 80vh;
}