.searchBlock {
    position: relative;
}


.searchResults {
    background-color: #ececec;
    border-radius: 4px;
    position: absolute;
    top: 46px;
    max-width: 635px;
    width: 100%;
    transition: .3s ease-out;
}

.searchResultsItem {
    padding: 10px 8px;
}

.active {
    background: var(--accent);
    border-radius: inherit;
}

.suggestions {
    position: absolute;
    top: 44px;
    width: 635px;
    border-radius: 8px;

    background-color: #f2f2f2;

}

.suggestionItem {
    padding: 10px;
}