.companyPageContainer{
    max-width: 1200px;
    margin: 25px auto 0;
    display: flex;

}
.companyPageLeft{
    margin: 0 10px;
    background-color: #fafafa;
    max-width: 210px;
    height: fit-content;
}
.companyPageLeftCard{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.companyPageLeftCardLogo{
    display: flex;
    align-items: center;
    height: 170px;
}
.companyPageLeftCardInfo{
    margin-top: 8px;

}
.companyPageLeftCardInfoCard{
    font-size: 14px;
    line-height: 1.43;
    margin-top: 15px;

}
.companyPageLeftCardInfoCard:first-child{
    margin-top: 0;
}
.companyPageLeftCardInfoText{
    color: #303233;
}
.companyPageLeftCardInfoLink{
    color: #3c9df2;
}
.companyPageStrong{
    font-weight: 700;
}
.companyPageLeftToolbar{
    margin-top: 30px;
}
.companyPageLeftToolbarButton{
    border: 1px solid #babdbf;
    background-color: #fafafa;
    border-radius: 5px;
}
.companyPageLeftToolbarButton:first-child{
    margin-bottom: 10px;
}

.companyPageRight {
    padding: 0 10px;
}
.companyPageHeader{

}
.CompanyPageRightHeaderPosition{
    line-height: 1.43;
    font-size: 14px;
}
.CompanyPageRightHeaderTitle{
    font-size: 32px;
    line-height: 1.12;
    font-weight: 700;
    margin-bottom: 16px;
}
.CompanyPageRightHeaderRating{
    display: flex;
    align-items: center;
}
.CompanyPageRightHeaderTitleText{
    margin-right: 8px;
}
.CompanyPageRightHeaderRatingText{
    line-height: 1.4;
    font-size: 20px;
    font-weight: 700;
    margin-right: 5px;
}
.companyPageRatingLink{
    margin-left: 8px;
}
.companyPageRightInfo{
    margin-top: 16px;
    display: grid;
    grid-row-gap: 16px;
    line-height: 1.5;
    font-size: 16px;
}
.companyPageRightInfoContacts{
    line-height: 1.5;
    font-size: 16px;
    display: grid;
    grid-row-gap: 8px;
}
.companyPageReview{
    margin-top: 48px;
    border-top: 1px solid #babdbf;
    padding-top: 28px;
}
.companyPageReview:last-child{
    padding-bottom: 48px;
    margin-bottom: 48px;
}
.companyPageReviewCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.companyPageReviewCardItem{
    margin-top: 16px;
    min-width: 210px;
}
.companyPageReviewCardItemCount{
    font-size: 32px;
    line-height: 1.12;
    font-weight: 700;
    color: #1785e5;
}
.companyPageReviewCardItemSubtitle{
    color: #1785e5;
    font-size: 14px;
    line-height: 1.43;
    margin-left: 8px;
}
.companyPageReviewButtonCard{
    box-shadow: 0 8px 20px #30323314, inset 0 0.5px 1px #3032330f;
    background-color: #fff;
    border-radius: 10px;
    padding: 24px;
    margin-left: 16px;
}
.companyPageReviewButtonCardButton{
    display: block;
    margin-top: 8px;

}
.companyPageEmployeeReviewCards{
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}
.companyPageEmployeeReviewCardItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    max-width: 270px;
    box-shadow: 0 8px 20px #30323314, inset 0 0.5px 1px #3032330f;
    background-color: #fff;
}
.companyPageEmployeeReviewCardItemTitle{
    margin-bottom: 8px;
}
.companyPageEmployeeReviewCardItemRating{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
.companyPageEmployeeReviewCardItemRatingDate{
    color:#6e7173;
    margin-left: 8px;
}
.companyPageVacancies{

}
.companyPageVacanciesTitleDecorate{
    text-underline-offset: 3px;
    text-decoration-thickness: 1px!important;
    text-decoration-style: dashed!important;
    cursor: pointer;
    text-decoration: underline;
    color: #3c9df2;
}
.companyPageVacanciesInfo{
    font-size: 18px;
    margin-top: 16px;
}
.companyPageVacanciesTitleCount{
    color: #959799;
    font-size: 14px;
    margin-left: 8px;
    text-decoration: none;
}
.companyPageVacanciesInfoItem{
    font-size: 14px;
    margin-left: 20px;
}
.companyPageVacanciesItemDropdown{
    margin-top: 15px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    border-bottom: 1px solid #babdbf;
}
.companyPageVacanciesItemDropdownInfo{
    display: flex;
    flex-direction: column;
}
.companyPageVacanciesItemDropdownTitle{
    font-size: 18px;
    color: #1785e5;
}
.companyPageVacanciesItemDropdownSubtitle{
    margin: 16px 0;
    font-size: 14px;
    color:#6e7173;
}
