.mainLayout {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    /* min-height: 100%; */
    height: 100vh;
}

.mainLayout>header {
    grid-area: header;

}

.mainLayout>main {
    grid-area: main;
}

.mainLayout>footer {
    grid-area: footer;
}