.userResponsesPageContainer{
    max-width: 1200px;
    margin: 25px auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 24px;
}
.userResponsesPageCard {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 20px;
}
.userResponsesPageCardBtn {
    margin-top: auto;
}
.userResponsesPageCardLogo{
    margin: auto 16px auto 0;
}
