.experienceWork {
    width: 760px;
    display: flex;
    justify-content: space-between;
}

.inputEndingWork {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.textTitleEnding{
    padding-left: 20px;
} 

.skills{
    margin-bottom: 30px;
}
.keySkillsTextAll{
    display: flex;
    justify-content:flex-start;
}

.textSkills {
    padding-top: 5px;
    padding-left: 20px;
} 

.buttonSkill {
    border:none;
    color: var(--accent);
    background-color: var(--light-bg);
   
    margin: 0px 0px 0px 10px;
}