*,
*::after,
*::before,
*:focus {
    box-sizing: border-box;
    outline: none;
}
body {
    margin: 0;
    font-family: "Times New Roman", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea,
select {
    margin: 0;
    font: inherit;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-style: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}
