.textTitle {
    padding: 20px 10px 10px 0px;
}

.inputBasiceData,
.inputYearsEducation,
.inputDataBasiceData,
.textareaBasiceData,
.textSkill,
.inputResumeDataBasice {
    box-sizing: border-box;
    width: 760px;
    height: 60px;
    
    background: var(--light-bg);
    border: 1px solid var(--light-skeleton-shadow);
    border-radius: var(--border-radius-s);

}

.inputResumeDataBasice{
    width: 150px;
}

.textSkill::placeholder,
.inputBasiceData::placeholder,
.textareaBasiceData::placeholder{
    padding-left: 10px;
    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: var(--not-accented);
}


.inputBasiceData:focus,
.textareaBasiceData:focus,
.textSkill:focus{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    box-sizing: border-box;
    background: var(--light-bg);
    border: 1px solid var(--accent);
    border-radius: var(--border-radius-s);
    color: var(--accent);

}

.inputDataBasice {
    padding-left: 10px;
    width: 140px;
    height: 60px;
}

.inputRadioBasiceData {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.textInputRadio {
    margin-top: -5px;
    padding: 0px 20px 0px 10px;
}

.textareaBasiceData {
    height: 138px;
}

.textareaBasiceData::-webkit-resizer,
.textSkill::-webkit-resizer {
    resize: horizontal;
} 

.inputYearsEducation {
    width: 100px;
    height: 60px;
}

.buttonYearsEducation,
.buttonYearsExperience {
    border:none;
    color: var(--accent);
    background-color: var(--light-bg);
    transform: translate(177px,-50px);

}

.buttonYearsExperience {
    padding-top: 72px;
    transform: none;
}

.inputRadioCreateResume,
.checkboxEndingWork{
    position: absolute;
    left: 0;
    opacity: 0.01;
}

.inputRadioCreateResume:checked + label,
.inputRadioCreateResume:not(:checked) + label,
.checkboxEndingWork:checked + label,
.checkboxEndingWork:not(:checked) + label { 
    position: relative;
    padding-left: 20px;
    padding-top: 5px;
    line-height: 1.7;
    cursor: pointer;
}

.inputRadioCreateResume:checked + label:before,
.inputRadioCreateResume:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 22px;
    border: 1px solid var(--light-skeleton-shadow);
    background: var(--light-bg);
    border-radius: 30px;
    -webkit-transition: all .275s;
    transition: all .275s;
}

.checkboxEndingWork:checked + label:before,
.checkboxEndingWork:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 26px;
    height: 26px;
    border: 1px solid var(--light-skeleton-shadow);
    background: var(--light-bg);
    border-radius: var(--border-radius-s);
    -webkit-transition: all .275s;
    transition: all .275s;
}

.checkboxEndingWork:checked + label:after,
.checkboxEndingWork:not(:checked) + label:after
 {
    content: '✓';
    position: absolute;
    top: .525em;
    left: .18em;
    font-size: 1.375em;
    color: var(--accent);
    line-height: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.inputRadioCreateResume:checked + label:after,
.inputRadioCreateResume:not(:checked) + label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    color: var(--accent);
    line-height: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
    border: 6px solid var(--accent);
    border-radius: 30px;
    background: var(--light-bg);
}

.inputRadioCreateResume:not(:checked) + label:after,
.checkboxEndingWork:not(:checked) + label:after{
    opacity: 0;
}

.inputRadioCreateResume:checked + label:after,
.checkboxEndingWork:checked + label:after{
    opacity: 1;
}

.textSkill {
    box-sizing: border-box;
    width: 226px;
    height: 33px;

    padding-top: 5px;
}

.experienceWork {
    width: 760px;
    display: flex;
    justify-content: space-between;
}

.inputEndingWork {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
}

.textTitleEnding{
    padding-left: 20px;
    margin-top: -5px;
} 

.skills{
    margin-bottom: 30px;
}

.keySkillsTextAll{
    display: flex;
    justify-content: flex-start;
}

.textSkills {
    padding-top: 5px;
    padding-left: 20px;
} 

.buttonSkillDelete,
.buttonSkillAdd {
    border:none;
    color: var(--cancel);
    background-color: var(--light-bg);
   
    margin: 0px 0px 0px 10px;
}

.buttonSkillAdd {  
    color: var(--accent);
}

.buttonSave {
    margin: 10px 10px 40px 875px; 
}