.containerCreateResumePage {
    margin: 0;
    padding: 0;
    
}

.mainCreateResume {
    margin: 10px 0px 30px 15px;    
}

.buttonSaveResumePage {
    margin: 10px 10px 0px 875px; 

/*     transform: translate(830px,-50px) */

}