.formProfilePage {
    background-color: #CFF3FE;
}

.formProfile {
    font-size: 24px;
    padding: 50px 50px;
    text-align: center;
    border-bottom: 1px solid grey;
}

.textForm {
    height: 100px;
    width: 33.333%;  
    float: left;    
}

.inputFormProfile {
    border: none;
    width: 400px;
    height: 40px;
    background-color: #CFF3FE;
    padding-right: 100px;
}

.inputFormProfile::placeholder {
    font-size: 20px;
    color: black;
    font-family: 'Times New Roman';
    text-align: center;
    font-family: consolas;
}

.btnFormProfile {
    border: none;
    background-color: #CFF3FE;
}
