.formProfilePage {
    background-color: #CFF3FE;
}

.formProfile {
    padding: 50px 50px;
    text-align: center;
    border-bottom: 1px solid var(--not-accented);
}

.textForm {
    width: 30%;  
    float: left;    
}

.inputFormProfile {
    border: none;
    width: 392px;
    height: 40px;
    background-color: #CFF3FE;
    padding-right: 100px;
    padding-bottom: 20px;
}

.inputFormProfile::placeholder  {
    font-size: 20px;
    color: var(--dark-bg);
    text-align: center;
    font-family: var(--font-family-main); 
    padding-right: 110px;
}

.btnFormProfile {
    margin-top: 10px;
    border: none;
    background-color: #CFF3FE;
    padding-left: 100px;
}

/* .hidden {
    display:none;
}

.open {
    display: block;
} */

.divLeft {
    float: right;
    width: 30%; 
}

.inputFormProfileUpdate {
    border: none;
    width: 400px;
    height: 40px;
    background-color: #CFF3FE;
    padding-right: 100px;
    padding-bottom: 20px;
    margin-right: 285px;
}

.inputFormProfileUpdate::placeholder {
    font-size: 20px;
    color: var(--dark-bg);
    padding-left: 20px;
}