.vacancyCards {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.mainCard {
    width: 60%;
    padding: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.price {
    margin-top: 15px;
}
.experience {
    margin-top: 15px;
}
.view {
    margin-top: 15px;
}
.btn {
    margin-top: 15px;
}
.city {
    margin-top: 15px;
}
.aboutCompany {
    padding: 20px;
    width: 35%;
    min-height: 125px;
    height: fit-content;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.cancelBtn {
    margin-left: 12px;
}
