.appCard {
    transition: linear var(--transition-delay);
    padding: 20px;
    color: var(--primary-text);
}

.appCard:hover {
    transition: linear var(--transition-delay);
    box-shadow: var(--shadow-hover);
}

.clear {
    background-color: none;
}

.primary {
    background-color: var(--main-card-bg);
}

.secondary {
    background-color: var(--additional-card-bg);
}

.shadow {
    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    box-shadow: var(--shadow-main);
}

/* .shadow:hover {
    box-shadow: 0px 4px 10px #0FC3FC;
} */

.borderLeft {
    border-left: 12px solid pink;
}

.borderRadius {
    border-radius: var(--border-radius-l);
}

.borderRadiusSmall {
    border-radius: var(--border-radius-s);
}
