.hr {
    width: 100%;
    box-shadow: 0px 0.4px 0.4px 0px rgba(0, 0, 0, 0.5);
}
.title {
    margin-top: 40px;
}
.text {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 360px;
    height: 140px;
}
