.card {
    box-sizing: border-box;
    width: 320px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    border-right: 8px solid #af37bc;
    min-height: 100px;
    margin-bottom: 20px;

    box-shadow: inset 0 0 0 1px #edeff0;
}

.card:hover {
    box-shadow: 0 5px 11px rgba(0, 0, 0, .2);
}