.errorPage {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btns {
    min-width: 400px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn {
    margin-top: var(--indent-m);
}
