@import "./reset";
@import "./variables";
@import "./themes/light";
@import "./themes/dark";

#root {
    width: 100%;
    background: var(--main-bg);
    font-family: var(--font-family-main);
}

body {
    width: 100%;
    font: var(--font-s);
    background: var(--main-bg);
    font-family: var(--font-family-main);
}
.app {
    font-family: var(--font-family-main);
}
