.footer {
    background-color: #242424;
    padding: 30px;
    color: #fff;
}

.footerTop {
    margin-bottom: 20px;
    display: flex;
}

.footerBottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footerTopList {
    margin-right: 45px;
}