* {
    box-sizing: border-box;

}

.profilePage {
    margin: 0;
}

.mainProfilePage {
    margin: 0 auto;
    margin-top: 90px;
}

.textBtnDelete {
    text-align: center;
    color: #066B8B;
}

.btnDelete {
    margin-top: 75px;
    margin-bottom: 115px;
    width: 310px;
    height: 70px;
}

.formProfileDelete {
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.inputFormProfileDelete {
    border-radius: 30px;
    width: 400px;
    height: 40px;
    border: 2px solid #066B8B;
}

.inputFormProfileDelete::placeholder {
    font-size: 20px;
    color: #00000090;
    padding-left: 90px;
}
