.appButton {
    outline-style: none;
    padding: 6px 12px;
    cursor: pointer;
}

.appButtonLink {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Clear */
.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    color: inherit;
    transition: var(--transition-delay) linear;
}

.clear.accent {
    color: var(--accent);
}

.clear.accent:hover {
    color: var(--secondary-text);
    background: none;
    border: none;
    transition: var(--transition-delay) linear;
}

.clear.hint {
    color: var(--hint);
}

.clear.cancel {
    color: var(--cancel);
}

.clear:hover {
    transition: var(--transition-delay) linear;
    color: var(--accent);
}

/* Outline */
.outline {
    outline: none;
    background: none;
    border-radius: var(--border-radius-s);
    font-weight: 700;
    transition: var(--transition-delay) linear;
}

.outline.normal {
    border: 2px solid var(--primary-text);
    transition: var(--transition-delay) linear;
    color: var(--primary-text);
}

.normal:hover {
    border: 2px solid var(--secondary-text);
    transition: var(--transition-delay) linear;
    color: var(--secondary-text);
}

.outline.accent {
    border: 2px solid var(--accent);
    transition: var(--transition-delay) linear;
    color: var(--accent);
}

.accent:hover {
    border: 2px solid var(--accent);
    color: var(--secondary-text);
    background: var(--accent);

    transition: var(--transition-delay) linear;
}

.outline.notAccent {
    border: 2px solid var(--primary-text);
    background: var(--secondary-bg);
    transition: var(--transition-delay) linear;
}

.notAccent:hover {
    border: 2px solid var(--accent);
    color: var(--accent);
    transition: var(--transition-delay) linear;
}

.outline.red {
    border: 2px solid var(--cancel);
    color: var(--cancel);
    transition: var(--transition-delay) linear;
}

.red:hover {
    opacity: var(--opacity70);
    transition: var(--transition-delay) linear;
}

/* Filled */
.filled {
    border: 2px solid var(--accent);
    outline: none;
    border-radius: 8px;
    background: var(--accent);
    color: var(--secondary-text);
    transition: var(--transition-delay) linear;
}

.filled:hover {
    background-color: var(--secondary-text);
    transition: var(--transition-delay) linear;
    color: var(--accent);
}

.filled:hover p {
    transition: var(--transition-delay) linear;
    color: var(--accent);
}

/* Text sizes */
.xs {
    font: var(--font-xs);
}

.s {
    font: var(--font-s);
}

.m {
    font: var(--font-m);
}

.l {
    font: var(--font-l);
}

.xl {
    font: var(--font-xl);
}

/* Bold */
.bold {
    font-weight: 700;
}

/* Border radius */
.rounded {
    border-radius: 33px;
}

.disabled {
    pointer-events: none;
    opacity: var(--opacity30);
    transition: linear var(--transition-delay);
}
