.appButton {
    outline-style: none;
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    color: inherit;
    transition: var(--transition-delay) linear;
}

.outline {
    outline: none;
    background: none;
    border: 2px solid var(--primary-text);
    border-radius: 8px;
    font-weight: 700;
    color: var(--primary-text);
    transition: var(--transition-delay) linear;
}
.outline:hover {
    border: 2px solid var(--secondary-text);
    transition: var(--transition-delay) linear;
    color: var(--secondary-text);
}
.accentOutline {
    outline: none;
    background: none;
    border: 2px solid var(--accent);
    border-radius: 8px;
    font-weight: 700;
    color: var(--accent);
    transition: var(--transition-delay) linear;
}
.accentOutline:hover {
    background: var(--accent);

    transition: var(--transition-delay) linear;
    color: var(--secondary-text);
}

.filled {
    border: 2px solid var(--accent);
    outline: none;
    border-radius: 8px;
    /* background: rgba(15, 195, 252, 0.9); */
    background: var(--accent);
    color: var(--secondary-text);

    /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); */
    transition: var(--transition-delay) linear;
}

.filled:hover {
    background-color: var(--secondary-text);
    transition: var(--transition-delay) linear;
    color: var(--accent);
}
.filled:hover p {
    transition: var(--transition-delay) linear;
    color: var(--accent);
}
.rounded {
    border-radius: 33px;
}
/* Text sizws */
.xs {
    font: var(--font-xs);
}

.s {
    font: var(--font-s);
}

.m {
    font: var(--font-m);
}

.l {
    font: var(--font-l);
}

.xl {
    font: var(--font-xl);
}

/* Bold */
.bold {
    font-weight: 700;
}
