.appButton {
    outline-style: none;
}
.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    color: inherit;
}
.outline {
    outline: none;
    background: none;
    border: 2px solid var(--primary-text);
    border-radius: 33px;
    font-size: var(--font-size-s);
    font-weight: 700;
}
.filled {
    border: none;
    outline: none;
    border-radius: 8px;
    background: rgba(15, 195, 252, 0.9);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
