.navProfilePage {
    margin-top: 23px;
    margin-bottom: 63px;

}

.navSettings {
    list-style-type: none;
    border-bottom: 2px solid black;
    margin-bottom: 50px;
}

.navLink {
    padding-bottom: 15px;
    padding-right: 50px;
    display: block;
    text-decoration: none;
}