.navProfilePage {
    margin-top: 23px;
    margin-bottom: 63px;

}

.navSettings {
    border: none;
    list-style-type: none;
    border-bottom: 2px solid var(--primary-text);
    margin-bottom: 50px;
}

.navLink {
    display: block;
    padding-bottom: 15px;
    padding-right: 50px;
    
}

.textDesc {
    list-style-type: none;
}

.navText {
    border: none;
    background-color: var(--secondary-text);
    text-decoration: none;
    list-style-type: none;
}