/* .appInput {
} */
.input {
    /* margin-top: 12px; */
    /* border: 2px solid #d9d9d9; */
    border: 2px solid var(--secondary-bg);
    outline: none;
    height: 42px;
    padding: 0 0 0 12px;
    color: var(--primary-text);
    background-color: var(--secondary-bg);
    margin-top: var(--indent-xs);
}

input::placeholder {
    color: var(--primary-text);
    opacity: var(--opacity50);
}

.input:focus {
    outline: none;
    border: 2px solid var(--accent);
}
input:hover {
    cursor: auto;
    border: 2px solid var(--accent);
}

.radiusL {
    border-radius: 33px;
}

.radiusM {
    border-radius: 15px;
}

.radiusS {
    border-radius: 6px;
}

.radiusNone {
    border-radius: none;
}

.fullWidth {
    width: 100%;
}

.label {
    color: var(--primary-text);
}

.textBold {
    font-weight: 700;
}

.error {
    margin-top: 8px;
    color: var(--error);
}
.readOnly {
    border: 2px solid transparent;
    cursor: auto;
}
.readOnly:focus {
    outline: none;
    border: 2px solid transparent;
}
