/* .appInput {
} */
.input {
    /* margin-top: 12px; */
    border: 2px solid #d9d9d9;
    outline: none;
    height: 42px;
    padding: 0 0 0 12px;
    color: var(--primary-text);
    background-color: var(--secondary-bg);
}
input::placeholder {
    color: var(--primary-text);
}

.input:focus {
    outline: none;
    border: 2px solid #0fc3fc;
}

.radiusL {
    border-radius: 33px;
}

.radiusM {
    border-radius: 15px;
}

.radiusS {
    border-radius: 6px;
}

.radiusNone {
    border-radius: none;
}

.fullWidth {
    width: 100%;
}
.label {
    color: var(--primary-text);
}

.textBold {
    font-weight: 700;
}

.error {
    margin-top: 8px;
    color: var(--error);
}
