.containerResumePage {
    margin: 0;
    padding: 0;
}
.mainResumePage {
    margin: 30px 0px 40px 0px;
}

.linkResumePage,
.userEmailText {
    color: var(--accent);
    border: none;
    background: var(--main-bg);
    font: var(--font-s);
}

.buttonLinkResumeList,
.company {
    display: flex;
    justify-content: flex-start;
}

.baceData {
    padding: 20px 0px 30px 0px;

    display: flex;
    justify-content: space-between;

    background: var(--main-bg);
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: var(--primary-text);
}

.userBaceData {
    width: 770px;
}

.userDataForm,
.userAddress,
.employment,
.schedule,
.userEmail,
.aboutUserTitle {
    display: flex;
}

.userData,
.userContacts,
.userBaceAddress,
.userSearchArea,
.aboutUserTitle,
.company,
.keySkills {
    padding-bottom: 10px;
    padding-top: 10px;
}

.userContactsPhone {
    width: 150px;
    border-bottom: 1px solid var(--primary-text);
}

.userEmailText {
    border-bottom: 1px solid var(--accent);
}

.imgUserPhoto {
    width: 200px;
    height: 183px;

    border: none;
    /* transform: translate(177px,0px); */
}

.userSpeciality {
    margin: 20px 0px 40px 0px;
}

.specializationText {
    padding: 0px 0px 10px 20px;
}

.userPhoto {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.userWorkPeriod,
.userEducationPeriod {
    width: 310px;
    padding-top: 7px;
}

.workPeriods,
.educationPeriods {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.descriptionExperience,
.descriptionEducation {
    padding-left: 20px;
}

.keySkillsTextAll {
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 13px;
}

.keySkillsText {
    width: 226px;
    height: 33px;

    background: var(--light-skeleton-shadow);
    border: 1px solid var(--additional-bg);
    border-radius: var(--border-radius-s);
    text-align: center;

    padding-top: 5px;
}

.buttonResumePage {
    margin: 10px 10px 40px 870px;
}

.emailLeftText {
    padding-left: 10px;
}

.aboutUserTextAll {
    padding-bottom: 30px;
    padding-top: 10px;
}
.linkViewResume {
    margin-top: 10px;
    margin-left: 900px;
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.linkResumeList {
    margin-left: 10px;
    padding-top: 10px;
}

.buttonReject{
    color: var(--cancel);
}