.containerCreateResumePage {
    margin: 0;
    padding: 0;
    
}

.mainCreateResume {
    margin: 10px 0px 30px 15px;    
}

.textTitle {
    padding: 20px 10px 10px 0px;
}

.inputBasiceData,
.selectBasiceData,
.inputYearsEducation,
.inputDataBasiceData,
.textareaBasiceData {
    box-sizing: border-box;
    width: 760px;
    height: 60px;
    
    background: var(--light-bg);
    border: 1px solid var(--light-skeleton-shadow);
    border-radius: 5px;

}

.inputBasiceData::placeholder,
.textareaBasiceData::placeholder
{
    padding-left: 10px;
    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: var(--not-accented);
}


.inputBasiceData:focus,
.textareaBasiceData:focus
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    box-sizing: border-box;
    background: var(--light-bg);
    border: 1px solid var(--accent);
    border-radius: 5px;
    color: var(--accent);

}

.inputDataBasiceData {
    padding-left: 10px;
    width: 140px;
    height: 60px;
}

.inputRadioBasiceData {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.textInputRadio {
    padding: 0px 20px 0px 10px;
}

.inputYearsEducation {
    width: 100px;
    height: 60px;
}

.buttonYearsEducation,
.buttonYearsExperience {
    border:none;
    color: var(--accent);
    background-color: var(--light-bg);
    transform: translate(177px,-50px)

}

.textareaBasiceData {
    height: 138px;
}

.textareaBasiceData::-webkit-resizer {
    resize: horizontal;
}

.buttonYearsExperience {
    padding-top: 57px;
    transform: none;
}

.experienceWork {
    width: 760px;
    display: flex;
    justify-content: space-between;
}

.inputEndingWork {
    display: flex;
    justify-content: space-between;
}

.checkboxEndingWork {
    width: 26px;
    height: 26px;
    background: var(--light-bg);
    border: 1px solid var(--not-accented);
    border-radius: 5px;

}

.textTitleEnding {
    padding-left: 10px;
}