.app_dark_theme {
    /* main colors */
    --main-bg: #0C1214;
    --additional-bg: #fff;
    --secondary-bg: gray;

    --primary-text: #fff;
    --secondary-text: #000;

    --accent: #5ED3F3;
    --cancel: #D95757;
    --error: #D95757;
    --save: #6CD98B;
    --hint: #555;
    --not-accented: rgba(0, 0, 0, 0.56);

    /* skeleton */
    --light-skeleton-color: #f7f7f7;
    --light-skeleton-shadow: rgba(0 0 0 / 20%);
    --dark-skeleton-color: #1515ad;
    --dark-skeleton-shadow: #2b2be8;

    /* card */
    --light-card-bg: #f7f7f7;
    --dark-card-bg: #181818;

    /* listBox */
    /* --list-bg: #d5d5d7; */
    --header-color: lightgray;

    /* shadow */
    --shadow-dark: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    --shadow--hover: 0px 4px 10px var(--accent);

    /* Checkbox */
    --checkbox-color: #242424;
}
