.app_dark_theme {
    /* main colors */
    --main-bg: #242424;
    --additional-bg: #fff;
    --secondary-bg: gray;
    --header-text-color: #fff;

    --primary-text: #fff;
    --secondary-text: #000;

    --accent: #5ed3f3;
    --cancel: #d95757;
    --error: #d95757;
    --save: #6cd98b;
    --hint: #0f6efc;
    --not-accented: #6a6a6a;

    /* skeleton */
    --light-skeleton-color: #f7f7f7;
    --light-skeleton-shadow: rgba(0 0 0 / 20%);
    --dark-skeleton-color: #1515ad;
    --dark-skeleton-shadow: #2b2be8;

    --main-skeleton: #f7f7f7;
    --main-skeleton-shadow: rgba(0 0 0 / 20%);

    /* card */
    --main-card-bg: #181818;
    --additional-card-bg: #181818;

    /* listBox */
    /* --list-bg: #d5d5d7; */
    --header-color: #000;
    --footer-color: #000;

    /* shadow */
    --shadow-main: 0px 4px 10px 0px rgb(255, 255, 255, 0.15);
    --shadow-hover: 0px 4px 10px var(--accent);

    /* Checkbox */
    --checkbox-color: #242424;

    /* Loader */
    --loader-color: var(--hint);

    --status-bg-notviewd: #727272;
}