.mainCompanyList{
    margin: 0;
    padding: 0;
}

.titleCompanyList{
    margin: 40px 0px 30px 0px;
}

.companyList{
    margin: 50px 0px 30px 0px;
    padding: 10px 10px 10px 10px;
    height: 160px;

    background: var( --light-bg);
    box-shadow: var(--shadow-dark);
}

.companyList:hover{
    box-shadow: var(--shadow--hover);
}

.titleCompany{
    color: var(--accent);
}

.quantityCompany{
    margin-top: 20px;
}