.textTitle {
    padding: 20px 10px 10px 0px;
}

.inputBasiceData,
.textareaBasiceData,
.inputResumeDataBasice {
    box-sizing: border-box;
    width: 760px;
    height: 60px;
    font-size: var(--font-size-m);
    padding: 10px;
    
    background: var(--light-bg);
    border: 1px solid var(--light-skeleton-shadow);
    border-radius: var(--border-radius-s);

}

.inputResumeDataBasice{
    width: 200px;
}

.inputBasiceData::placeholder,
.textareaBasiceData::placeholder{
    
    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-m);
    line-height: 23px;
    display: flex;
    align-items: center;
    color: var(--not-accented);
}


.inputBasiceData:focus,
.textareaBasiceData:focus{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    box-sizing: border-box;
    background: var(--light-bg);
    border: 1px solid var(--accent);
    border-radius: var(--border-radius-s);
}

.textareaBasiceData {
    height: 138px;
}

.textareaBasiceData::-webkit-resizer{
    resize: horizontal;
} 

.buttonSave {
    margin: 10px 10px 40px 875px; 
}

.buttonUpload{
    margin: 10px;
}

/* .inputlogoUpload{
    position: absolute;
    left: 0;
    opacity: 0.01;
}

.inputlogoUpload {
    box-sizing: border-box;
    width: 260px;
    height: 60px;
    font-size: var(--font-size-m);
    padding: 10px;
    
    background: var(--light-bg);
    border: 1px solid var(--light-skeleton-shadow);
    border-radius: var(--border-radius-s);

}

.inputlogoUpload:checked,
.inputlogoUpload:not(:checked) { 
    position: relative;
    padding-left: 20px;
    padding-top: 5px;
    line-height: 1.7;
    cursor: pointer;
}

.inputlogoUpload:not(:checked){
    opacity: 0;
}

.inputlogoUpload:checked{
    opacity: 1;
} */