.buttonYearsEducation,
.buttonYearsExperience {
    border:none;
    color: var(--accent);
    background-color: var(--light-bg);
    transform: translate(177px,-50px);

}

.buttonYearsExperience {
    padding-top: 72px;
    transform: none;
}

.genderBasiceData,
.checkboxEndingWork,
.educationCheckbox:checked, 
.educationCheckbox:not(:checked){
    position: absolute;
    left: 0;
    opacity: 0.01;
}

.genderBasiceData:checked + label,
.genderBasiceData:not(:checked) + label,
.checkboxEndingWork:checked + label,
.checkboxEndingWork:not(:checked) + label,
.educationCheckbox:checked + label, 
.educationCheckbox:not(:checked) + label { 
    position: relative;
    padding-left: 20px;
    line-height: 1.7;
    cursor: pointer;
}

.genderBasiceData:checked + label:before,
.genderBasiceData:not(:checked) + label:before,
.educationCheckbox:checked + label:before,
.educationCheckbox:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid var(--light-skeleton-shadow);
    background: var(--light-bg);
    border-radius: 30px;
    -webkit-transition: all .275s;
    transition: all .275s;
}

.checkboxEndingWork:checked + label:before,
.checkboxEndingWork:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 26px;
    height: 26px;
    border: 1px solid var(--light-skeleton-shadow);
    background: var(--light-bg);
    border-radius: 5px;
    -webkit-transition: all .275s;
    transition: all .275s;
}

/* .educationCheckbox:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid var(--accent);
    background: var(--light-bg);
    border-radius: 30px;
    -webkit-transition: all .275s;
    transition: all .275s;
    border: 1px solid var(--accent);
} */

.genderBasiceData:checked + label:after,
.genderBasiceData:not(:checked) + label:after,
.checkboxEndingWork:checked + label:after,
.checkboxEndingWork:not(:checked) + label:after,
.educationCheckbox:checked + label:after, 
.educationCheckbox:not(:checked) + label:after {
    content: '✓';
    position: absolute;
    top: .525em;
    left: .18em;
    font-size: 1.375em;
    color: var(--accent);
    line-height: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.genderBasiceData:not(:checked) + label:after,
.checkboxEndingWork:not(:checked) + label:after,
.educationCheckbox:not(:checked) + label:after{
    opacity: 0;
}

.genderBasiceData:checked + label:after,
.checkboxEndingWork:checked + label:after,
.educationCheckbox:checked + label:after{
    opacity: 1;
}