/* .vacancyPage {
} */
.cards {
    margin-top: 100px;
}
.list {
    margin-top: 40px;
}
.adress {
    margin-top: 40px;
}
.date {
    margin-top: 40px;
}
.btn {
    margin-top: 30px;
}
.cancelBtn {
    margin-left: 16px;
}
.responseText {
    margin-top: 12px;
}
.reviews {
    margin-top: 60px;
}
