.layout {
    height: calc(100vh - var(--header-height) - var(--footer-height));
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(-not-accented);
}
.form {
    margin-top: 24px;
    background-color: var(--light-bg);
    padding: 24px;
    border-radius: var(--border-radius-s);
    width: 100%;
    max-width: 448px;
    box-shadow: var(--shadow-dark);
}
