.footer {
    background-color: var(--footer-color);
    padding: 30px;
    color: #fff;
    height: var(--footer-height);
}

.footerTop {
    margin-bottom: 20px;
    display: flex;
}

.footerBottom {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footerTopList {
    margin-right: 45px;
}
