.secondNav {
    width: 100%;
    background-color: var(--accent);
    height: var(--second-header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conatiner {
    width: 100%;
    height: var(--second-header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLinkList {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navItem {
    padding: 10px;
}

.secondNavButton {
    display: flex;
    gap: 20px;
}