.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBg {
    background-color: #242424;
    color: #fff;
}

.navList {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}

.navLink {
    display: block;
    padding: 10px 0;
}